/* Contact Colours */
$color-gray-contact: #212529;
/* Contact Styles */

.btn-send {
  background-color: $color-gray-contact;
}

.form-check-input:checked {
  background-color: $color-gray-contact;
  border-color: $color-gray-contact;
}

textarea {
  height: 100px;
  resize: none;
  font-family: inherit;
}
